<div class="main-content photography">
  <h1 class="title font-butler medium">
    {{ partial (printf "%vtitle.html" (.Scratch.Get "TPartialsPath")) . }}
  </h1>

  <div class="photo-grid">
    {{ range resources.Match "photos/**.jpg" }}
      {{ $webp := resources.Get (replace .Name "jpg" "webp") }}
      {{ $small_webp := .Resize "420x q90 webp" }}
      {{ $small_jpg := .Resize "420x q90 jpg" }}
      <a href="{{ $webp.Permalink }}" data-barba-prevent="self">
        <picture>
          <source srcset="{{ $small_webp.Permalink }}">
          <img src="{{ $small_jpg.Permalink }}" alt="photo" loading="lazy" style="width: 100%;">
        </picture>
      </a>
    {{ end }}
  </div>

  <div class="legal-wrapper">
    <a class="legal font-ibm-plex" href="/legal/">{{ humanize (i18n "legal_notice") }}</a>
  </div>
</div>
