<div class="main-content photography">

  <h1 class="title is-family-playfair-display">
    {{ partial (printf "%vtitle.html" (.Scratch.Get "TPartialsPath")) . }}
  </h1>

  <div class="photo-grid">
    {{ range resources.Match "photos/**.jpg" }}
      {{ $small := .Resize "420x q95" }}
      <a href="{{ .Permalink }}" data-barba-prevent="self">
        <img src="{{ $small.Permalink }}" loading="lazy" style="width: 100%;">
      </a>
    {{ end }}
  </div>

  <div class="legal-wrapper">
    <a class="legal is-family-ibm-plex" href="/legal/">{{ humanize (i18n "legal_notice") }}</a>
  </div>

</div>
