<div class="main-content web-development">
  <h1 class="title font-butler medium">
    {{ partial (printf "%vtitle.html" (.Scratch.Get "TPartialsPath")) . }}
  </h1>

  <div class="sites-list">
    {{ range $index, $site := .Site.Data.web_development }}
      <div class="site-presentation">
        <img src="/images/web_development/{{ $site.image }}" loading="lazy">
        <div class="v-separator"></div>
        <p class="pre is-white font-ibm-plex">
          <span class="site-title">{{ $site.title }}</span>
          {{ $site.year }} | {{ i18n (cond $site.individual "individual" "collaborative") }}

          {{ $site.job }}
          {{ $site.tech }}

          {{ $linkUrl := urls.Parse $site.link -}}
          <a href="{{ $site.link }}">{{ $linkUrl.Host }}{{ $linkUrl.Path }}</a>
          {{ if $site.repo -}}
            {{- $repoUrl := urls.Parse $site.repo -}}
            <a href="{{ $site.repo }}">{{ $repoUrl.Host }}{{ $repoUrl.Path }}</a>
          {{- end -}}
        </p>
      </div>

      {{- if ne (add $index 1) (len $.Site.Data.web_development) -}}
        <div class="h-separator"></div>
      {{- end -}}
    {{ end }}
  </div>

  <div class="legal-wrapper">
    <a class="legal font-ibm-plex" href="/legal/">{{ humanize (i18n "legal_notice") }}</a>
  </div>
</div>
