.animate__animated {
  --animate-duration: 3s;
}

.is-yellow {
	color: $yellow;
}

.is-red {
	color: $red;
}

.is-white {
	color: white;
}

.is-hidden {
  display: none;
}

body {
	background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
	margin: 0px;
}

header {
  z-index: 9;
}

main {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  margin: 20px;
}

.main-content {
  display: flex;
  width: 100%;
  height: 100%;
}

.barba-content {
  flex: 1;
  height: 0px;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9;
  width: 100%;
  background-color: black;
}

#mobile-nav-border-bottom {
  border-top: 1px solid $red;
  width: 100%;
}

.nav-left-title {
  padding: 0px 20px 10px 10px;
  border-bottom: 1px solid $red;
  border-right: 1px solid $red;
}

.right-nav {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.right-nav a {
  color: $yellow;
  border-bottom: 1px solid rgba(209, 30, 59, 0);
  transition: border-bottom 0.3s;
}

.right-nav a:hover {
  border-bottom: 1px solid rgba(209, 30, 59, 1);
}

.left-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.burger-menu {
  cursor: pointer;
}

.burger-menu svg {
  height: 30px;
}

.burger-menu .cross-svg {
  display: none;
}

.flag {
  padding: 5px;
  cursor: pointer;
  transition: outline 0.3s;
}

.flag:hover {
  outline: 1px solid $red;
}

.flag:not(.selected) {
  display: none;
}

.pre {
  white-space: pre-line;
}

.left-side-container {
  font-size: 4vw;
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .left-title {
    margin-top: auto;
  }
}

.next-page-button {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 10px 20px 10px 20px;
  font-size: 15px;
  outline: 1px solid $red;
  transition: outline 0.3s;
  &:hover {
    outline-width: 3px;
  }
  .double-down {
    height: 25px;
    margin-left: 20px;
  }
}

@media screen and (max-width: $mobile-bp) {
  .right-nav {
    flex-direction: column;
    align-items: flex-start;
    height: 200px;
    justify-content: space-around;
    display: none;
  }

  .nav-left-title {
    font-size: 22px;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .left-side-container {
    width: 100%;
    height: calc(100vh - 100px);
    justify-content: space-between;
    margin-top: auto;
  }

  .left-title {
    padding-bottom: 0.7em;
    border-bottom: 1px solid $red;
  }

  .next-page-button {
    margin-bottom: 20px;
  }

}

@media screen and (min-width: $mobile-bp + 1) {
  #mobile-nav-border-bottom {
    display: none;
  }

  .burger-menu {
    display: none;
  }

  .nav-left-title {
    font-size: 40px;
  }

  .nav-left-title.home {
    opacity: 0;
  }

  .right-nav {
      width: 500px;
  }

  .left-title {
    writing-mode: vertical-rl;
    transform: rotate(180deg) !important;
    padding-left: 0.7em;
    border-left: 1px solid $red;
  }

  .next-page-button {
    margin-top: auto;
  }
}
