.home {
  .home-title-wrapper {
    display: flex;
    height: 30vh;
    justify-content: center;
    align-items: center;

    .home-title {
      font-size: 72px;
    }
  }

  .home-row {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    width: 100vw;

    .left {
      height: 70vh;
    }

    .v-separator {
      border-left: 1px solid $red;
      margin : 40px 85px 40px 85px;
    }

    .right {
      width: 450px;
      margin-top: 70px;

      p {
        font-size: 28px;
      }

      .home-nav {
        display: flex;
        flex-direction: column;

        a {
          color: $yellow;
          text-decoration: none;
          margin-top: 20px;

          img {
            position: relative;
            top: 4px;
            height: 20px;
            margin-right: 10px;
          }

          .underline {
            border-bottom: 1px solid rgba(209, 30, 59, 0);
            transition: border-bottom 0.3s;
          }

          &:hover {
            .underline {
              border-bottom: 1px solid rgba(209, 30, 59, 1);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $mobile-bp) {
  .home {

  }
}

@media screen and (min-width: $mobile-bp + 1) {
  .home {

  }
}
