.home {
  .home-title-wrapper {
    display: flex;
    height: 30vh;
    justify-content: center;
    align-items: center;

    .home-title {
      font-size: 72px;
    }
  }

  .home-row {
    display: flex;
    justify-content: center;
    width: 100vw;

    .left {
       img {
         height: 100%;
       }
    }

    .v-separator {
      border-left: 1px solid $red;
      margin : 40px 85px 40px 85px;
    }

    .right {
      .home-nav {
        display: flex;
        flex-direction: column;

        a {
          color: $yellow;
          text-decoration: none;
          margin-top: 20px;

          img {
            position: relative;
            top: 4px;
            height: 20px;
            margin-right: 10px;
          }

          .underline {
            border-bottom: 1px solid rgba(209, 30, 59, 0);
            transition: border-bottom 0.3s;
          }

          &:hover {
            .underline {
              border-bottom: 1px solid rgba(209, 30, 59, 1);
            }
          }
        }
      }
    }
  }

  .legal {
    font-size: 14px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    border-left: 1px solid $red;
    color: $yellow;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 15px;
  }
}

@media screen and (max-width: $mobile-bp) {
  .home {
    .home-title-wrapper {
      display: none;
    }

    .home-row {
      flex-direction: column-reverse;
      justify-content: flex-end;
      align-items: center;
      margin-top: 100px;

      .left {
        height: 50vh;
      }

      .right {
        font-size: 18px;

        p {
          text-align: center;
          width: 296px;
        }

        .home-nav {
          align-items: center;

          a {
            border-bottom: 1px solid $red;

            img {
              display: none;
            }
          }
        }
      }

      .v-separator {
        display: none;
      }
    }
  }
}

@media screen and (min-width: ($mobile-bp + 1)) {
  .main-nav.on-home {
    visibility: hidden;

    .flag {
      visibility: visible;
    }
  }

  .home {
    .home-row {
      position: fixed;
      bottom: 0px;

      .right {
        width: 450px;
        margin-top: 70px;
        font-size: 28px;
      }

      .left {
        height: 70vh;
      }
    }
  }
}
