.photography {
  .grid-container {
    flex: 1;
    position: relative;
    z-index: 100;
    overflow-y: scroll;
    height: calc(100% - 20px);
    margin-top: 20px;

    scrollbar-width: thin;
    scrollbar-color: $yellow black;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background: black;
    }
    &::-webkit-scrollbar-thumb {
      background: $yellow;
    }
  }

  .photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin: 5px 20px 0px 5px;

    img {

      &:hover {
        outline: 2px solid $red;
      }
    }
  }
}

@media screen and (max-width: $mobile-bp) {
  .photography {
    .left-side-container {
      .grid-container {
        display: block;
        margin: 20px;
      }
    }

    .grid-container {
      display: none;
    }

    .photo-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: $mobile-bp + 1) {
  .photography {
    .left-side-container {
      .grid-container {
        display: none;
      }
    }
  }
}
