.photography.main {
  position: relative;
  min-height: 100vh;
}

.photography {
  .content-container {
    left: 0px;
    position: absolute;
    display: flex;
    width: 100vw;
  }

  .left-side-container {
    height: 100%;
    font-size: 4vw;
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .top-spacer {
      margin-bottom: auto;
    }
  }

  .next-page-button {
    display: flex;
    align-items: center;
    background-color: black;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    outline: 1px solid $red;
    transition: outline 0.3s;
    &:hover {
      outline-width: 3px;
    }
    .double-down {
      height: 25px;
      margin-left: 20px;
    }
  }

  .grid-container {
    flex: 1;
    align-self: flex-end;
    overflow-y: scroll;
    height: calc(100vh - 100px);
    scrollbar-width: thin;
    scrollbar-color: $yellow black;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background: black;
    }
    &::-webkit-scrollbar-thumb {
      background: $yellow;
    }
  }

  .photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: $mobile-bp) {
  .photography {
    .content-container {
      flex-direction: column;
    }

    .left-side-container {
      width: 100%;
      height: 100vh;
      .top-spacer {
        display: none;
      }
    }

    .left-title {
      padding-bottom: 0.7em;
      border-bottom: 1px solid $red;
      margin-top: 100px;
    }

    .grid-container {
      display: none;
    }

    .left-side-container {
      justify-content: space-between;
      .grid-container {
        display: block;
        margin: 20px;
      }
    }

    .photo-grid {
      grid-template-columns: repeat(2, 1fr);
    }

    .next-page-button {
      margin-bottom: 20px;
    }
  }
}

@media screen and (min-width: $mobile-bp + 1) {
  .photography {
    .content-container {
      height: 100vh;
    }

    .left-side-container {
      .grid-container {
        display: none;
      }
    }

    .left-title {
      writing-mode: vertical-rl;
      transform: rotate(180deg) !important;
      padding-left: 0.7em;
      border-left: 1px solid $red;
    }

    .next-page-button {
      margin-top: auto;
      position: relative;
      bottom: 20px;
    }
  }
}
