.web-development {
  .title {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 54px;
  }

  .sites-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
    margin-left: 100px;

    .site-presentation {
      display: flex;
      width: calc(min(40vw, 600px) + 355px);

      img {
        align-self: center;
        width: calc(min(40vw, 600px));
      }

      .v-separator {
        border-left: 1px solid $red;
        margin-left: 20px;
        margin-right: 20px;
      }

      p {
        font-size: 16px;

        .site-title {
          text-transform: uppercase;
          font-size: 18px;
        }

        a {
          color: white;
          text-decoration: underline;
        }
      }
    }

    .h-separator {
      width: 100%;
      border-top: 1px solid #555555;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .legal-wrapper {
    .legal {
      font-size: 14px;
      color: $yellow;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: $mobile-bp) {
  .web-development {
    .title {
      font-size: 32px;
    }

    .sites-list {
      margin-right: 20px;
      margin-left: 20px;

      .site-presentation {
        flex-direction: column;
        width: 100%;

        p {
          text-align: center;
        }

        img {
          width: 100%;
        }

        .v-separator {
          display: none;
        }
      }

      .h-separator {
        border-top: 1px solid $red;
      }
    }

    .legal-wrapper {
      text-align: center;
      margin-top: 10px;
      margin-bottom: 20px;
      padding-top: 20px;
      border-top: 1px solid $red;
      width: 90vw;
      margin-right: auto;
      margin-left: auto;

      .legal {
        border-bottom: 1px solid $red;
      }
    }
  }
}

@media screen and (min-width: $mobile-bp + 1) {
  .web-development {
    .legal-wrapper {
      position: fixed;
      bottom: 20px;
      right: 15px;

      .legal {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        border-left: 1px solid $red;
      }
    }
  }
}
