<div class="main-content know-me">
  <h1 class="title font-butler medium">
    {{ partial (printf "%vtitle.html" (.Scratch.Get "TPartialsPath")) . }}
  </h1>

  <div class="presentation-text font-ibm-plex">
    {{ partial (printf "%vpresentation.html" (.Scratch.Get "TPartialsPath")) . }}
  </div>

  <div class="display-row">
    <div class="icons-grid">
      <div class="icons-column">
        <img src="/images/show_off/photoshop.svg" alt="Adobe Photoshop" title="Adobe Photoshop">
        <img src="/images/show_off/lightroom.svg" alt="Adobe Lightroom Classic" title="Adobe Lightroom Classic">
        <img src="/images/show_off/premiere_pro.svg" alt="Adobe Premiere Pro" title="Adobe Premiere Pro">
        <img src="/images/show_off/audition.svg" alt="Adobe Audition" title="Adobe Audition">
        <img src="/images/show_off/audacity.svg" alt="Audacity" title="Audacity">
      </div>

      <div class="icons-column">
        <img src="/images/show_off/javascript.svg" alt="Javascript" title="Javascript">
        <img src="/images/show_off/golang.svg" alt="Go" title="Golang">
        <img src="/images/show_off/rails.svg" alt="Ruby on Rails" title="Ruby on Rails">
        <img src="/images/show_off/php.svg" alt="PHP" title="PHP">
        <img src="/images/show_off/postgresql.svg" alt="PostgreSQL" title="PostgreSQL">
      </div>

      <div class="icons-column">
        <img src="/images/show_off/figma.svg" alt="Figma" title="Figma">
        <img src="/images/show_off/svelte.svg" alt="Svelte" title="Svelte">
        <div class="icons-row">
          <img src="/images/show_off/react.svg" alt="React.js" title="React.js">
          <img src="/images/show_off/vue.svg" alt="Vue.js" title="Vue.js">
        </div>
        <img src="/images/show_off/sass.svg" alt="Sass" title="Sass">
        <div class="icons-row">
          <img src="/images/show_off/html.svg" alt="HTML5" title="HTML5">
          <img src="/images/show_off/css.svg" alt="CSS3" title="CSS3">
        </div>
      </div>
    </div>

    <div class="know-me-img-custom-border"></div>
    <img class="know-me-img" src="/images/ornament/apropos.jpg">

    <div class="social-column">
      <a href="https://www.instagram.com/_maxime.lasserre/">
        <img src="/images/icons/instagram.svg" alt="Instagram {{ i18n "of" }} Maxime Lasserre">
      </a>
      <a href="https://www.linkedin.com/in/maxime--lasserre/">
        <img src="/images/icons/linkedin.svg" alt="LinkedIn {{ i18n "of" }} Maxime Lasserre">
      </a>
      <a href="https://github.com/max-las">
        <img src="/images/icons/github.svg" alt="Github {{ i18n "of" }} Maxime Lasserre">
      </a>
      <a href="mailto:lasserre.maxime@yahoo.fr">
        <img src="/images/icons/mail.svg" alt="Email {{ i18n "to" }} Maxime Lasserre">
      </a>
    </div>
  </div>

  <div class="legal-wrapper">
    <a class="legal font-ibm-plex" href="/legal/">{{ humanize (i18n "legal_notice") }}</a>
  </div>
</div>
