@import "font-faces/Google-Fonts";
@import "font-faces/Butler";



.is-yellow {
	color: $yellow;
}

.is-red {
	color: $red;
}

.is-white {
	color: white;
}

.is-hidden {
  display: none;
}

.pre {
  white-space: pre-line;
}

.animate-duration_3s {
  --animate-duration: 3s;
}

h1 {
  font-weight: normal;
  margin: 0px;
}

body {
	background-color: black;
	margin: 0px;
}

.main-nav {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  z-index: 9;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
  background-color: #000000;

  .left-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
    }

    .left-title {
      padding: 0px 20px 10px 10px;
      border-bottom: 1px solid $red;
      border-right: 1px solid $red;
      font-size: 36px;
    }

    .burger-menu {
      cursor: pointer;

      svg {
        height: 30px;
      }

      .close-svg {
        display: none;
      }
    }
  }

  .right-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .mobile-nav-border-bottom {
      border-top: 1px solid $red;
      width: 100%;
    }

    a:not(.flagLink) {
      text-decoration: none;
      color: $yellow;
      border-bottom: 1px solid rgba(209, 30, 59, 0);
      transition: border-bottom 0.3s;
      margin-right: 40px;

      &:hover {
        border-bottom: 1px solid rgba(209, 30, 59, 1);
      }
    }

    .flag {
      padding: 5px;

      &.selected {
        cursor: pointer;
        outline: 1px solid $red;
      }
    }
  }
}

@media screen and (max-width: $mobile-bp) {
  .main-nav {
    flex-direction: column;

    .left-nav {
      width: 100%;

      .left-title {
        font-size: 24px;
      }
    }

    .right-nav {
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
      display: none;

      * {
        margin-top: 10px;
      }
    }
  }
}

@media screen and (min-width: ($mobile-bp + 1)) {
  .main-nav {

    .left-nav {

      .burger-menu {
        display: none;
      }
    }

    .right-nav {

      .mobile-nav-border-bottom {
        display: none;
      }
    }
  }
}
