.legal {
  .title {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 54px;
  }

  p {
    width: 60vw;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;

    a {
      text-decoration: underline;
      color: #FFFFFF;
    }
  }
}

@media screen and (max-width: $mobile-bp) {
  .legal {
    .title {
      font-size: 32px;
    }

    p {
      width: 80vw;
    }
  }
}
