<div class="about-container">

  <div class="presentation-text">
    <p class="is-white is-family-ibm-plex">Je suis Maxime Lasserre, et j'étudie le multimédia. Principalement tourné vers le développement web backend et frontend ainsi que la photographie, je maîtrise aussi le montage audio et vidéo.</p>
    <img class="file-type-icon" src="/images/pdf.svg"><a href="">Télécharger mon CV</a>
  </div>

  <div class="display-row">

    <div class="icons-grid">
      <div class="icons-column">
        <img src="/images/photoshop.svg">
        <img src="/images/lightroom.svg">
        <img src="/images/premiere_pro.svg">
        <img src="/images/audition.svg">
        <img src="/images/audacity.png">
      </div>

      <div class="icons-column">
        <img src="/images/golang.svg">
        <img src="/images/rails.svg">
        <img src="/images/php.svg">
        <img src="/images/postgresql.png">
      </div>

      <div class="icons-column">
        <img src="/images/figma.svg">
        <div class="icons-row">
          <img src="/images/html.svg">
          <img src="/images/css.svg">
          <img src="/images/javascript.svg">
        </div>
        <img src="/images/bulma.png">
        <img src="/images/barbajs.png">
      </div>
    </div>

    <img src="/images/apropos.jpg" height="436">

    <div class="social-column">
      <img src="/images/instagram-brands.svg">
      <img src="/images/linkedin-in-brands.svg">
      <img src="/images/github-brands.svg">
      <img src="/images/envelope-regular.svg">
    </div>

  </div>
</div>
