<p class="is-white font-ibm-plex">This site is edited by<strong>Maxime Lasserre</strong>, living at <strong>15 Rue des Doris, 33130 Bègles, France</strong>; reachable by email at <strong>lasserre.maxime@yahoo.fr</strong> and by telephone at <strong>+33 7 70 33 66 92</strong>.</p>

<p class="is-white font-ibm-plex">The host of the site is <a href="https://www.netlify.com">Netlify, Inc.</a> located at <strong>2325 3rd Street, Suite 296, San Francisco, California 94107</strong> and reachable at <strong>+1-415-691-1573</strong>.</p>
