<div class="web-container">
  <div class="site-presentation">
    <img src="/images/humans_of_grenoble.jpg">
    <div class="v-separator"></div>
    <p class="pre is-white is-family-ibm-plex">
      <span class="site-title">Humans of Grenoble</span>
      2021 | individuel

      Design, frontend, backend
      HTML, CSS, JS, Go, Postgresql

      <a href="https://humansofgrenoble.com">humansofgrenoble.com</a>
      <a href="https://github.com/max-las/humans-of-grenoble">github.com/max-las/humans-of-grenoble</a>
    </p>
  </div>

  <div class="h-separator"></div>

  <div class="site-presentation">
    <img src="/images/cinema_le_festival.jpg">
    <div class="v-separator"></div>
    <p class="pre is-white is-family-ibm-plex">
      <span class="site-title">Cinéma Le Festival</span>
      2020 | collaboratif

      Design, frontend
      HTML, CSS, JS

      <a href="https://cinema-lefestival.netlify.app">cinema-lefestival.netlify.app</a>
      <a href="https://github.com/max-las/Mangrela">github.com/max-las/Mangrela</a>
    </p>
  </div>

  <div class="h-separator"></div>

  <div class="site-presentation">
    <img src="/images/retrosmash.jpg">
    <div class="v-separator"></div>
    <p class="pre is-white is-family-ibm-plex">
      <span class="site-title">Retrosmash</span>
      2016 | individuel

      Design, frontend, backend
      PHP, MySQL, HTML, JS, CSS

      <a href="http://retrosmash.22web.org">retrosmash.22web.org</a>
    </p>
  </div>
</div>
