{{ define "main" }}
  <div class="main-content home">

    <div class="home-title-wrapper">
      <h1 class="font-butler medium home-title animate-duration_3s">
        <span class="is-red">M</span><span class="is-yellow">axime</span> <span class="is-red">L</span><span class="is-yellow">asserre</span>
      </h1>
    </div>

    <div class="home-row">

      <div class="left animate-duration_3s">
        <img src="/images/home_img.jpg" alt="Photo {{ i18n "of" }} Maxime Lasserre">
      </div>

      <div class="v-separator"></div>

      <div class="right animate-duration_3s">

        <p class="is-white font-butler medium">{{ safeHTML (i18n "home_presentation") }}</p>

        <nav class="home-nav is-yellow font-butler medium">
          <a href="{{ .Site.LanguagePrefix }}/web-development/"><img src="/images/chevron-double-right.svg"><span class="underline">{{ humanize (i18n "web_development") }}</span></a>
          <a href="{{ .Site.LanguagePrefix }}/photography/"><img src="/images/chevron-double-right.svg"><span class="underline">{{ humanize (i18n "photography") }}</span></a>
          <a href="{{ .Site.LanguagePrefix }}/know-me/"><img src="/images/chevron-double-right.svg"><span class="underline">{{ humanize (i18n "know_me") }}</span></a>
        </nav>

      </div>

    </div>

    <a class="legal font-ibm-plex" href="{{ .Site.LanguagePrefix }}/legal/">{{ i18n "legal_notice" }}</a>

  </div>
{{ end }}
