<div class="main-content legal">

  <h1 class="title is-family-playfair-display">
    <span class="is-red">M</span><span class="is-yellow">entions </span><span class="is-red">L</span><span class="is-yellow">égales</span>
  </h1>

  <p class="is-white is-family-ibm-plex">Ce site est édité par <strong>Maxime Lasserre</strong>, demeurant <strong>15 Rue des Doris, 33130 Bègles, France</strong>; joignable par mail à l'addresse <strong>lasserre.maxime@yahoo.fr</strong> et par téléphone au <strong>+33 7 70 33 66 92</strong>.</p>

  <p class="is-white is-family-ibm-plex">L'hébergeur du site est <a href="https://www.netlify.com">Netlify, Inc.</a> situé au <strong>2325 3rd Street, Suite 296, San Francisco, California 94107</strong> et joignable au <strong>+1-415-691-1573</strong>.</p>

</div>
